.appContainer {
  display: flex;
  justify-content: center;
}

.textInputContainer {
  width: 500px;
  height: 1050px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textInputRaw, .textInputHighlighted {
  position: absolute;
  top: 150px;
  width: 500px;
  height: 1000px;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 0.8rem;
  word-wrap: break-word;
  white-space: pre-wrap;
  box-shadow: 5px 5px 15px;
}

.textInputRaw {
  z-index: 1;
  color: transparent;
  background-color: transparent;
  margin: 0px;
  padding: 5px;
  width: 490px;
  height: 990px;
}

.textInputHighlighted {
  margin: 0px;
  z-index: -1;
  background-color: black;
  width: 490px;
  height: 990px;
  overflow-y: auto;
}

.textOutputContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}

.textOutput {
  background-color: rgb(234, 247, 255);
  width: 490px;
  height: 990px;
  margin-top: 50px;
  box-shadow: 5px 5px 15px;
  padding: 10px;
}

.textInputContainer, .textOutputContainer > h1 {
  margin-top: 40px
}